<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog | <%= title %></title>
</head>
<body>

    <nav>
        <div class="site-title">
            <a href="/"><h1>Blog</h1></a>
            <p>This is a website</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav>

    <div class="not-found content">
        <h2>OOPS, page not found</h2>
    </div>
    
</body>
</html>