<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
        <h2>About me</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam distinctio repellendus incidunt magni consectetur repudiandae saepe, delectus rem ut vitae quod, nesciunt ab vero cupiditate iusto, est error quae labore.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam distinctio repellendus incidunt magni consectetur repudiandae saepe, delectus rem ut vitae quod, nesciunt ab vero cupiditate iusto, est error quae labore.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam distinctio repellendus incidunt magni consectetur repudiandae saepe, delectus rem ut vitae quod, nesciunt ab vero cupiditate iusto, est error quae labore.</p>
    </div>
    <%- include('./partials/footer.ejs') %>

</body>
</html>