<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
    <nav>
        <div class="site-title">
            <a href="/"><h1>Blog</h1></a>
            <p>This is a website</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav>
    <div class="about content">
        <h2>About me</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam distinctio repellendus incidunt magni consectetur repudiandae saepe, delectus rem ut vitae quod, nesciunt ab vero cupiditate iusto, est error quae labore.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam distinctio repellendus incidunt magni consectetur repudiandae saepe, delectus rem ut vitae quod, nesciunt ab vero cupiditate iusto, est error quae labore.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam distinctio repellendus incidunt magni consectetur repudiandae saepe, delectus rem ut vitae quod, nesciunt ab vero cupiditate iusto, est error quae labore.</p>
    </div>
    
</body>
</html>